<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li> <a href="/">| HOME |</a></li>
                <li> <a href="/about"> ABOUT |</a></li>
                <li> <a href="/music"> MUSIC |</a></li>
                <li> <a href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>
        <nav class="redes">
        <ul>
            <li> <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter fa-2xs"></i></a></li>
            <li> <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xs"></i></a></li>
            <li> <a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify fa-2xs" ></i></a></li>
            <li> <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple fa-xs" ></i></a></li>
            <li> <a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon fa-xs" ></i></a></li>
            <li> <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xs" ></i></a></li>
        </ul>
        </nav>
    </header>
    <section>
        <h1>CONTACTO //</h1>
        <h6>WE ARE HERE</h6>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1697176141798!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <h4>CONTACT INFO</h4>
        <h5>MANAGEMENT | Karen Blanche</h5>
        <a href="info@mysite.com">email:
            info@mysite.com</a>
            <br>
            <a href="phone: 123-456-7890">phone: 123-456-7890</a>
        <br>
        <br>
        <h5>BOOKING | Daniel Ku</h5>
        <a href="info@mysite.com">email:
            info@mysite.com</a>
            <br>
            <a href="phone: 123-456-7890">phone: 123-456-7890</a>
        <br>
        <br>
        <h5>LABEL | Wix Records, Jake
            Coldman</h5>
            <a href="info@mysite.com">email:
                info@mysite.com</a>
                <br>
                <a href="phone: 123-456-7890">phone: 123-456-7890</a>
            <br>
            <br>
            <h5>PR | That Girl Pr, Sarah Brookstone</h5>
            <a href="info@mysite.com">email:
                info@mysite.com</a>
            <br> 
            <a href="phone: 123-456-7890">phone: 123-456-7890</a>
    
    </section>
    
</body>
</html>