<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia cole</title>
    <script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/css/index.css">
    
</head>
<body class="imghome">
    
    <header>
        <nav>
            
            <ul>
                <li> <a href="/"> HOME </a></li>
                <li> <a href="/about"> ABOUT </a></li>
                <li> <a href="/music"> MUSIC </a></li>
                <li> <a href="/contact"> CONTACT </a></li>
            </ul>
        </nav>
        <nav class="redes">
        <ul>
            <li> <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter fa-2xs"></i></a></li>
            <li> <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xs"></i></a></li>
            <li> <a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify fa-2xs" ></i></a></li>
            <li> <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple fa-xs" ></i></a></li>
            <li> <a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon fa-xs" ></i></a></li>
            <li> <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xs" ></i></a></li>
        </ul>
        </nav>
    </header>
    <section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>EMILIA <br> COLE//</h3>
        <h1>TWIST IN MY REALITY</h1>
       
    </section>
   
</body>
</html>