<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Emilia cole - Music</title>
        
        <script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="/css/musica.css">
    </head>
<body>
    <header class="imagenmusica">
        

        <nav class="menu">
            <ul>
                <li> <a href="/">| HOME |</a></li>
                <li> <a href="/about"> ABOUT |</a></li>
                <li> <a href="/music"> MUSIC |</a></li>
                <li> <a href="/contact"> CONTACT |</a></li>
            </ul>
        </nav>
        <nav class="redes">
        <ul>
            <li> <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter fa-2xs"></i></a></li>
            <li> <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-2xs"></i></a></li>
            <li> <a href="https://www.spotify.com/" target="_blank"><i class="fa-brands fa-spotify fa-2xs" ></i></a></li>
            <li> <a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple fa-xs" ></i></a></li>
            <li> <a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon fa-xs" ></i></a></li>
            <li> <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xs" ></i></a></li>
        </ul>
        </nav>
    </header>
    <section>
        <h1>MUSIC //</h1>
        <h4>Direct links</h4>
        <ul>
            <li> <a href="#video 1">Album</a></li>
                <li> <a href="">Video Organic Love</a></li>
                <li> <a href="#video 2">Video: Street ligth</a></li>
                <br>
                <br>
        </ul>
        <article>
            <h2>ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="/img/emilia-play-list.png"alt="imagen del album">
            <ol>
                <li><i class="fa-solid fa-play fa-xs"></i>Organic Love | 02:40 </li>
                <li><i class="fa-solid fa-play fa-xs"></i>Twist in my reality | 02:10 </li>
                <li><i class="fa-solid fa-play fa-xs"></i>Street ligth | 03:28 </li>
                <li><i class="fa-solid fa-play fa-xs"></i>Love Don’t Live Here Anymore (Cover) | 03:49</li>
            </ol>
            <a href="/music">Go top</a>
            <br>
            <br>
            <br>

            <h2>VIDEO <br> ORGANIC LOVE</h2>
       </article>
        <article id="video 1"> <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></article>
        <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> 
            Produced by NIKI HEART, <br> Wix Films LTD</p>
            <br>
            <a href="/music">Go top</a>
            <br>
            <br>
            <br>
            <h2>VIDEO <br> STREET LIGTH</h2>
        <article id="video 2"></article><iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILIA COLE <br> Edited and Filmed by NICOLAS TROY <br> 
            Produced by NIKI HEART, <br> Wix Films LTD</p>
            <a href="/music">Go top</a>
    </section>
</body>
</html>